/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-left: 2.5em;
    margin-top: 0.5em;
    margin: auto;
    border: black 1px solid;
}

/****** Header ***********/
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3em;
}

.logo {
    max-height: 1.2em;
    margin-top: 1.8em;
}

nav ul {
    list-style-type: none;
    padding-left: 25px;
    color: black;
}

nav ul li a:hover {
    color: var(--main-color);
    border-top: solid 2px var(--main-color);
}

nav ul li {
    display: inline; /* Afficher les éléments de menu en ligne */
    margin-bottom: 1em;
}

.nav-hebergements {
    padding-right: 3.2em;
}

.nav-activite {
    padding-left: 1em;
}

.border-position {
    padding-top: 0.8em;
}

.nav-position {
    margin-right: 2em;
}



/****** Title h1 ***********/
.first-section {
    margin-left: 3em;
}

h1 {
    padding: 1.3em 0 0.5em 0;
    margin-top: 1.55em;
    font-size: 1.37em;
}

/****** Search section ***********/
.search-container {
    display: flex;
    padding: 0.9em 0.9em 0.9em 0;
}

.form-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1em 1.5em 0 0;
    margin-left: 0.3em;
}

.fa-location-dot {
    background-color: var(--main-bg-color);
    color: black;
    padding: 1em;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search-bar {
    padding: 0.6em 0 0.6em 0.6em;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    border: var(--main-bg-color) solid 2px;
}

.search-button {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0.7em;
    border: 0;
    margin-left: -2em;
}

.fa-magnifying-glass {
    background-color: var(--main-color);
    color: white;
    border-radius: 15px;
    padding: 15px 16px 15px 16px;
    border: 0;
    display: none;
} 

/****** Filtres ***********/
.filtres-container {
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-left: 0.2em;
}

.filtres-container p {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 0.5em 1em 0.5em 0;
}

.filtres-container button {
    align-items: center;
    background-color: white;
    font-weight: bold;
    font-size: 1em;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
    padding: 0.9em 1.4em;
    margin: 0.3em;
}

.button-flex {
    display: flex;
    flex-wrap: wrap;
}

.filtres-container button:hover {
    background-color: var(--filter-bg-color);
}

.filtres-container button i {
    margin-right: 1em;
}

.circle-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.9em;
    margin-left: 0.7em;
    margin-bottom: 1.9em;
}

.fa-circle-info {
    padding: 0 0.5em 0 0;
}

.main-container {
    width: 100%;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    font-size: 1.4em;
    margin-top: 1em;
    margin-left: 0.6em;
}

.section-title-populaire {
    font-size: 1.4em;
    margin-top: 1em;
    margin-left: 0.4em;
}

.fa-chart-line {
    margin-right: 2.1em;
    margin-top: 1.2em;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin: 1em;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin: 0 2em 3.2em 2.9em;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 1em;
    box-sizing: border-box;
}

/****** Hebergements à Marseille ***********/
.hebergements {
    width: 65%;
}

.hebergements-card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.7em;
}

.hebergements-card a {
    flex: 30%;
}

.title-hebergement-marseille {
    font-size: 1em;
}

.prix-nuit {
    padding-top: 0.5em;
    padding-bottom: 0.1em;
}


.hebergements-card img {
    width: 100%;
    height: 7.5em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.afficher-container {
    margin-top: 1.8em;
    margin-left: 1.2em;
}

.afficher-container p {
    font-weight: bold;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.5em;
}

.populaires-cards .card-title {
    margin-top: 0.3em;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités à Marseille ***********/
.activite-marseille {
    margin-bottom: 4.5em;
}

.activite-container {
    display: flex;
}

.activite-marseille h2 {
    font-size: 1.4em;
    margin-left: 3.3em;
    margin-bottom: 1em;
}

.activite-card img {
    width: 100%;
    height: 23.6em;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activite-card p {
    font-weight: bold;
    margin: 1em 1em 1em 1em;
}

.activite-card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    flex: 20%;
    margin: 0.9em;
    }

.activite-marseille-section {
    margin-left: 4em;
    margin-right: 4em;
}

/****** Footer ***********/
footer {
    background-color: var(--main-bg-color); 
    text-align: left; 
    display: flex; 
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 0;
}

footer section {
    width: 33.33%;
    box-sizing: border-box;
    margin-left: 0.8em;
}

footer section h3 {
    margin-left: 0.4em;
    margin-top: 1em;
}

footer section p {
    margin-top: 0.8em;
    margin-left: 0.7em;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .filtres-container {
        display: unset;
    }

    .activite-card img {
        height: 13em;
    }

    footer section {
        margin-bottom: 1em;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding-right: unset;
        padding-left: unset;
        margin-left: unset;
    }

    /* header */

    .header-container {
        flex-direction: column;
        align-items: center;
        margin-left: unset;
    }

    .logo {
    margin-bottom: 1.8em;
    }

    nav ul {
        width: 100%;
        text-align: center;
        display: flex;
        padding-left: unset;
    }

    .nav-position {
        margin-right: unset;
        width: 100%;
    }

    .nav-hebergements {
        padding-right: unset;
    }

    .nav-activite {
        padding-left: unset;
    }

    nav ul li {
        flex: 50%;
        border-bottom: solid 2px var(--main-bg-color);
        padding-bottom: 1em;
    }

    nav ul li:hover {
        color: var(--main-color);
        border-bottom: solid 2px var(--main-color);
        padding-bottom: 1em;
    }

    nav ul li a:hover {
        border-top: unset;
    }

    .first-section {
        margin-left: unset;
    }

    h1 {
        padding: unset;
        margin-bottom: 0.2em;
        margin-top: 0.5em;
    }

    .h1-container {
        display: flex;
        flex-direction: column;
        margin-left: 1.3em;
        margin-right: 3em;
    }

    .search-button {
        display: none; /* Cacher le bouton "Rechercher" */
    }

    .fa-magnifying-glass {
        margin: -1em;
        display: unset;
    }

    /* filtre */
    .search-container {
        padding: 1em 1em 1em 1.7em;
        margin-top: 1.6em;
    }

    .form-container {
        padding: 0;
    }

    .button-flex {
        margin-right: 1em;
        margin-left: 1em;
    }

    .filtres-container {
        flex-wrap: wrap;
        margin-left: unset;
    }

    .filtres-container p {
        margin-left: 1em;
    }

    .filtres-container button {
        flex: 45%;
        margin: 0.7em 0.5em 0.7em 0;
        padding: 0.9em;
    }

    .filtres-container button i {
        margin-right: 0.6em;
        font-size: 1.16em;
    }

    .fa-person {
        margin-right: 2em;
    }

    .fa-person {
        margin-right: 0.9em;
    }

    .circle-information {
        margin-top: 2.2em;
        margin-left: 2em;
    }

    .info-text {
        margin-right: 1.3em;
    }

    /* hebergement section */
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        margin: unset;
    }
    
    .hebergements-and-populaires .hebergements {
        background-color: white;
        margin-top: 1.5em;
    }
    .hebergements-and-populaires section {
        border-radius: 0;
        margin-top: unset;
        padding: unset;
    }

    .section-title-populaire {
        margin-top: 1.6em;
        margin-left: 0.9em;
    }

    .fa-chart-line {
        margin-right: 1.3em;
        margin-top: 2.1em;
    }

    .populaires-title {
        margin-bottom: 1em;
    }

    .card-title {
        font-size: 1em;
    }

    .populaires-cards .card {
        margin: 0 1.5em 1em 1.5em;
    }

    .card {
        margin-top: unset;
    }

    .populaires-cards a {
        width: 100%;
    }
    
    .populaires-cards  {
        flex-direction: column;
    }

    .hebergements-card {
        flex-direction: column;
    }

    .hebergements-card a {
        margin-right: unset;
    }
    
    .afficher-container {
        margin-top: unset;
        margin-left: unset;
    }

    /* activite à Marseille */

    .activite-marseille-section {
        margin: unset;
    }

    .hebergements-and-populaires {
        margin-bottom: 4em;
    }

    .activite-container {
        flex-direction: column;
        margin-right: unset;
    }

    .activite-card {
        margin: 0.7em 1.4em 0 1.4em;
    }

    .activite-card img {
        height: 9em;
    }

    .afficher-container {
        margin-left: 1em;
    }

    .activite-marseille h2 {
        margin-left: 1em;
    }

    /* footer */
    footer {
        flex-direction: column;
        width: 100%;
    }

    footer section {
    width: unset;
    margin-left: 0.5em;
    }
}